.dashboard-layout {
  display: grid;
  min-height: 100vh;
  position: relative;
  grid-template-columns: 1fr;
  width: 100%;
  grid-template-columns: 243px 1fr;
  grid-template-rows: 0px 1fr;
  grid-template-areas:
    "header header"
    "sidenav main-content";
  @media only screen and (min-width: 1200px) {
    grid-template-rows: 60px 1fr;
    -ms-grid-rows: 60px 1fr;
    grid-template-areas:
      "header header"
      "sidenav main-content";
  }
}

.main-content {
  position: relative;
  grid-area: main-content;
  z-index: 1;
  width: 100%;
  margin: 0;
  z-index: 1;
  grid-row: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2/5;
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 3rem;
}

.sidenav {
  &:focus {
    outline: none;
  }
}

.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white;
  height: 50px;
}
