// #0056c6

.sidenav {
  background: #0056c6;
  width: 250px;
  grid-area: sidenav;
  height: calc(100vh);
  border: 1px solid rgba(23, 26, 33, 0.05);
  box-sizing: border-box;
  padding-top: 1rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 72px;
  position: fixed;
  -ms-grid-row-span: 4;
  grid-row: 2/3;
  -ms-grid-row: 2/3;
  -ms-grid-column-span: 2;
  -ms-grid-column: 1/2;
  grid-column: 1/2;
  z-index: 3;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  &__list {
    list-style: none;
    z-index: 7;
    padding: 0;
  }
  &__list-item-nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center !important;
    -webkit-box-pack: justify !important;
    cursor: pointer;
  }
  //   &__icon {
  //     background-color: inherit;
  //     box-sizing: border-box;
  //     border-radius: 14px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     flex: 0 0 40px;
  //   }
  //   &__icon-text {
  //     font-style: normal;
  //     font-weight: normal;
  //     font-size: 15px;
  //     line-height: 15px;
  //     display: flex;
  //     align-items: center;
  //     // color: $ebill-light-green;
  //     color: white;
  //     // margin: 0;
  //     font-weight: 200;
  //     font-size: 14px;
  //   }
  //   &__user-container {
  //     height: 70px;
  //     &-user-image {
  //       height: 42px;
  //       width: 42px;
  //       border-radius: 50px;
  //     }
  //   }
  //   &__user-name-layout {
  //     margin-left: 15px;
  //     &-text {
  //       color: white;
  //       margin: 0;
  //       font-size: 16px;
  //       line-height: 20px;
  //     }
  //     &-text-span {
  //       color: white;
  //       font-size: 12px;
  //       line-height: 15px;
  //     }
  //   }
  //   &__highlight {
  //     border-radius: 20px;
  //     border-radius: 7px;
  //     background: $rays-yellow;
  //     color: #f9fbfb;
  //     font-weight: bold;
  //   }
  //   // &:hover {
  //   //   cursor: pointer;
  //   //   background-color: white;
  //   //   color: white;
  //   // }
  //   &__height {
  //     height: 40px;
  //     margin-top: 7px;
  //   }
}
