<div [formGroup]="parentGroup" class="position-relative">
  <input
    [type]="options.type || 'text'"
    [placeholder]="Maintenances"
    [id]="id"
    [formControlName]="options.name"
    (keyup.enter)="addText()"
    [value]="value"
  />
  <ng-content select="[body]" class="body"></ng-content>

  <span
    class="error-info"
    *ngIf="
      parentGroup.controls[options.field].touched &&
      parentGroup.controls[options.field].invalid
    "
  >
    <span>
      {{ options.msg }}
    </span>
  </span>
</div>
