<div class="custom-password-input" [formGroup]="parentGroup">
  <input
    [type]="show"
    class="form-control password"
    [placeholder]="placeholder"
    [id]="id"
    [formControlName]="options.name"
    (keyup)="addText()"
    #input
  />
  <span (click)="showPassword()">
    <ng-container *ngIf="show === 'password'; else text">
      <i class="fas fa-eye-slash"></i>
    </ng-container>
    <ng-template #text>
      <i class="fas fa-eye"></i>
    </ng-template>
  </span>

  <div
    class="error-info"
    *ngIf="
      parentGroup.controls[options.field].touched &&
      parentGroup.controls[options.field].invalid
    "
  >
    <p>
      {{ options.msg }}
    </p>
  </div>
</div>
